@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: #000000;
}

#container {
	width: 1000px;
	margin: 20px auto;
}

#navi {
	width: 300px;
	float: left;
	overflow: hidden;
}

#navi ul {
	height: 460px;
	list-style-type: none;
}

#navi ul li {
	list-style-type: none;
	width: 150px;
	float: left;
	overflow: hidden;
}

#navi .pageWrap {
	width: 900px;
	overflow:hidden;
}

#navi.pageWrap:after {
	clear: both;
	display: block;
	content: "";
}

#navi .pageWrap .page {
	overflow:hidden;
	float: left;
	width:300px;
}

#navi .pageWrap .wrapper{
	overflow:hidden;
	transition: 1s linear;
	-webkit-transition: linear 1s;
	-moz-transition: linear 1s;
	-o-transition: linear 1s;
}

#navi .pageWrap .wrapper:after{
	clear:both;
	display:block;
	content="";
}

#navi p {
	clear: both;
	width: 300px;
	padding: 10px 0px;
	text-align: center;
}

#navi ul li img {
	border: 3px solid white;
}

#main {
	width: 650px;
	float: left;
}

#main img {
	border: 3px solid white;
	position: absolute;
}

/*===== ここから追加(参考:http://kinsentansa.blogspot.jp/2014/03/angularjsngshownganimate.html) =====*/
#main .ng-hide-remove {
	-webkit-transition: all linear 1s;
	-moz-transition: all linear 1s;
	-o-transition: all linear 1s;
	transition: all linear 1s;
	display: block !important;
	opacity: 0;
}

#main .ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

#main .ng-hide-add {
	-webkit-transition: all linear 1s;
	-moz-transition: all linear 1s;
	-o-transition: all linear 1s;
	transition: all linear 1s;
	display: block !important;
	opacity: 1;
}

#main .ng-hide-add.ng-hide-add-active {
	opacity: 0;
}

.wrapper:not(.ng-hide){
	width: 300px;
}

.wrapper.ng-hide{
	width: 0px;
}

.wrapper.ng-hide-remove {
	width: 0px;
}

.wrapper.ng-hide-add {
	width:300px;
}